body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$nav-color: #d3574a;
$custom-grey: #98a4a5;
$contact-color: #dd3c33;

//media-queries for tabs and mobile

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tabs {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin border {
  border: 1px solid lightgray;
}

@mixin button {
  transition: transform 0.8s linear;

  &:hover {
    background-color: #dbe6f1;
    transform: translateX(-7px);
  }
}

// navbar
.nav-menu {
  background-color: $nav-color;

  a {
    text-decoration: none;
    color: white;
  }

  nav {
    @include mobile {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @include mobile {
    justify-content: space-around;
    width: 100%;
  }

  .d-md-none {
    @include mobile {
      display: none;
    }
  }

  .menu-items {
    @include tabs {
      width: 75%;
      justify-content: space-between;
      padding-left: 5%;
    }
  }
}

// section 1

.section1 {
  background-image: url(../images/hospital.jpg),
    linear-gradient(rgba(0, 0, 0, 0.63), rgba(155, 148, 148, 0.801));
  background-blend-mode: overlay;
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .how {
    text-decoration: none;
    @include mobile {
      margin-bottom: 2%;
    }
  }

  h1 {
    @include tabs {
      font-size: 25px;
    }

    @include mobile {
      font-size: 25px;
      margin-top: 10%;
      width: 100%;
    }
  }

  .find {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3%;
    width: 60%;

    a {
      background-color: $nav-color;
      width: 30%;
      text-decoration: none;
    }

    input {
      width: 80%;
    }

    @include mobile {
      padding: 5% 0.8%;
      width: 95%;

      form {
        flex-direction: column;

        input {
          display: block;
          width: 100%;
        }

        a {
          margin-top: 1%;
          width: 100%;
        }
      }
    }
  }

  button {
    @include button;
  }
}

// section 2
.section2 {
  h5 {
    color: $nav-color;
  }

  .newcontain {
    margin-top: 42px;

    .col-lg-5 {
      @include mobile {
        display: flex;
        flex-direction: column;
      }

      span {
        order: 2;

        @include mobile {
          margin-bottom: 10%;
        }
      }
    }
  }
}

// Section 3

.card1 {
  background-color: $nav-color;
}

.card2 {
  background-color: $custom-grey;
}

.card3 {
  background-color: #519cd7;
}

.section3 {
  .d-flex {
    @include mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    .newwidth {
      @include mobile {
        width: 100%;
      }

      @include tabs {
        width: 50%;
      }
    }
  }
}

.width {
  width: 20%;

  @include tabs {
    width: 30%;
  }

  @include mobile {
    width: 55%;
    align-self: center;
    margin-bottom: -10%;
    margin-left: 10%;
  }
}

.para {
  @include mobile {
    text-align: center;
    margin-left: 5%;
  }
}

// footer

.footer-second {
  button {
    background-color: rgba(94, 91, 91, 0.582);
    @include border;
  }
}

footer {
  background-color: black;

  .footer-first {
    align-items: center;
    justify-content: center;

    .footericon {
      border: 1px solid white;
      border-radius: 50%;
    }

    @include mobile {
      flex-direction: column;

      a {
        font-size: 17px;
      }

      .footericon {
        padding: 2%;
        margin: 0.5% 0;
      }
    }

    @include tabs {
      flex-direction: column;
      justify-content: space-between;

      .footericon {
        padding: 2%;
        margin: 0.5% 0;
      }
    }
  }

  .footer-second {
    h4 {
      @include mobile {
        margin-top: 10%;
      }
    }

    @include tabs {
      display: flex;
      flex-direction: column;
      align-items: center;

      .col-lg-4 {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &:nth-child(2) {
          margin: 5% 0;
        }
      }
    }

    input {
      background-color: black;
      @include border;
    }

    .emailid {
      color: $contact-color;
      font-size: 18px;
    }

    .learn-more {
      color: $contact-color;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;

      .col-lg-4 {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &:nth-child(2) {
          margin: 5% 0;
        }
      }
    }
  }
}
