body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-menu {
  background-color: #d3574a;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 767px) {
  .nav-menu nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-menu .menu-items {
    width: 75%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
  }
}

.section1 {
  background-image: url(../images/hospital.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.63)), to(rgba(155, 148, 148, 0.801)));
  background-image: url(../images/hospital.jpg), linear-gradient(rgba(0, 0, 0, 0.63), rgba(155, 148, 148, 0.801));
  background-blend-mode: overlay;
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section1 .how {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .section1 .how {
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section1 h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .section1 h1 {
    font-size: 25px;
    margin-top: 10%;
    width: 100%;
  }
}

.section1 .find {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3%;
  width: 60%;
}

.section1 .find a {
  background-color: #d3574a;
  width: 30%;
  text-decoration: none;
}

.section1 .find input {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .section1 .find {
    padding: 5% 0.8%;
    width: 95%;
  }
  .section1 .find form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 .find form input {
    display: block;
    width: 100%;
  }
  .section1 .find form a {
    margin-top: 1%;
    width: 100%;
  }
}

.section1 button {
  -webkit-transition: -webkit-transform 0.8s linear;
  transition: -webkit-transform 0.8s linear;
  transition: transform 0.8s linear;
  transition: transform 0.8s linear, -webkit-transform 0.8s linear;
}

.section1 button:hover {
  background-color: #dbe6f1;
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}

.section2 h5 {
  color: #d3574a;
}

.section2 .newcontain {
  margin-top: 42px;
}

@media screen and (max-width: 767px) {
  .section2 .newcontain .col-lg-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section2 .newcontain .col-lg-5 span {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 767px) {
  .section2 .newcontain .col-lg-5 span {
    margin-bottom: 10%;
  }
}

.card1 {
  background-color: #d3574a;
}

.card2 {
  background-color: #98a4a5;
}

.card3 {
  background-color: #519cd7;
}

@media screen and (max-width: 767px) {
  .section3 .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .section3 .d-flex .newwidth {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section3 .d-flex .newwidth {
    width: 50%;
  }
}

.width {
  width: 20%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .width {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  .width {
    width: 55%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: -10%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 767px) {
  .para {
    text-align: center;
    margin-left: 5%;
  }
}

.footer-second button {
  background-color: rgba(94, 91, 91, 0.582);
  border: 1px solid lightgray;
}

footer {
  background-color: black;
}

footer .footer-first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-first .footericon {
  border: 1px solid white;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  footer .footer-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-first a {
    font-size: 17px;
  }
  footer .footer-first .footericon {
    padding: 2%;
    margin: 0.5% 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-first .footericon {
    padding: 2%;
    margin: 0.5% 0;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-second h4 {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-second .col-lg-4:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-second .col-lg-4:nth-child(2) {
    margin: 5% 0;
  }
}

footer .footer-second input {
  background-color: black;
  border: 1px solid lightgray;
}

footer .footer-second .emailid {
  color: #dd3c33;
  font-size: 18px;
}

footer .footer-second .learn-more {
  color: #dd3c33;
}

@media screen and (max-width: 767px) {
  footer .footer-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-second .col-lg-4:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-second .col-lg-4:nth-child(2) {
    margin: 5% 0;
  }
}

.search-results {
  background-color: #eee;
}

.search-results form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .search-results form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .search-results form div {
    margin-bottom: 2%;
  }
  .search-results form .align-self-lg-end {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search-results form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .search-results form div {
    margin-bottom: 2%;
  }
  .search-results form .align-self-lg-end {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}
/*# sourceMappingURL=styles.css.map */